h1 {
  font-size: 17px;
  font-family: cursive;
  color: rgb(2, 152, 252);
  font-weight: bold;
}

h2 {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-weight: bold;
}
